*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: var(--text-color);
}
:root{
    --main-color: #2FB9A3;
    --bg-color: #1F242D;
    --second-bg-color: #37353E;
    --text-color: #FFFFFF;
    --disable-color: #C9CDCF;
    --active-color: #08CB00;
}
body{
   background: var(--bg-color);
}
header{
    position: fixed;
    top: 0;
    left: 0;
    padding: 25px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: var(--bg-color);
    overflow: hidden;
    z-index: 100;

}
.logo{
    left: 5px;
    width: auto;
    height: 150px;
}
nav a{
    margin-left: 32px;
    font-size: 32px;
    font-weight: 500;
    transition: .5s;
}

nav a:hover, nav a.active{
    color: var(--main-color);
}
#ring-oss{
    font-size: 35px;
    font-weight: 500;
    padding: 10px 35px;
    border-radius: 15px;
    outline: none;
    border: 2px solid var(--main-color);
    background: var(--main-color);
    color: var(--bg-color);
    transition: .5s;
    margin-left: 40px;
}
#ring-oss:hover{
    background: transparent;
    color: var(--main-color);

}
.tjenester{
    padding: 350px 10% 32px;
}

.tjenester{
    display: flex;
    align-items: center;
    gap: 80px;
}
.section-container h1{
    font-size: clamp(3.5rem, 10vh, 5.5rem);
    margin-bottom: 20px;
}
.section-container h2{
    display: inline-block;
    font-size: 40px;
    margin-top: -16px;
}

.section-container h2 span{
    position: relative;
    display: inline-block;
    color: transparent;
    -webkit-text-stroke: 1.12px var(--main-color);
    animation: display-text 16s linear infinite;
    animation-delay: calc(-4s * var(--i));
}
@keyframes display-text{
    25%, 100%{
        display: none;
    }
}
.section-container h2 span::before{
    content: attr(data-text);
    position: absolute;
    width: 0;
    border: 2.2px solid var(--main-color);
    color: var(--main-color);
    white-space: nowrap;
    overflow: hidden;
    animation: fill-text 4s linear infinite;
}
@keyframes fill-text{
    10%,
    100%{
        width: 0;
    }
    70%,
    90%{
        width: 100%;

    }
}
.p-text{
    display: block;
    align-items: center;
    justify-content: center;
    margin-left: 250px;
}
.p-text .p1{
    font-size: 32px;
    font-weight: 500;
    color: var(--main-color);
}
.p-text .p2{
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
}
.container-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.container-item img{
    min-width: 100%;
    width: 100%;
    height: auto;
}
