*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: var(--text-color);
}
:root{
    --main-color: #2FB9A3;
    --bg-color: #1F242D;
    --second-bg-color: #37353E;
    --text-color: #FFFFFF;
    --disable-color: #C9CDCF;
    --active-color: #08CB00;
}
body{
   background: var(--bg-color);
}
header{
    position: fixed;
    top: 0;
    left: 0;
    padding: 25px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: var(--bg-color);
    overflow: hidden;
    z-index: 100;

}
.logo{
    left: 5px;
    width: auto;
    height: 150px;
}
nav a{
    margin-left: 32px;
    font-size: 32px;
    font-weight: 500;
    transition: .5s;
}

nav a:hover, nav a.active{
    color: var(--main-color);
}
#ring-oss{
    font-size: 35px;
    font-weight: 500;
    padding: 10px 35px;
    border-radius: 15px;
    outline: none;
    border: 2px solid var(--main-color);
    background: var(--main-color);
    color: var(--bg-color);
    transition: .5s;
    margin-left: 40px;
}
#ring-oss:hover{
    background: transparent;
    color: var(--main-color);

}
.hjem{
    padding: 350px 10% 32px;
}

.hjem{
    display: flex;
    align-items: center;
    gap: 80px;
}
.section-container h1{
    font-size: clamp(3.5rem, 10vh, 5.5rem);
    margin-bottom: 20px;
}
.section-container h2{
    display: inline-block;
    font-size: 40px;
    margin-top: -16px;
}

.section-container h2 span{
    position: relative;
    display: inline-block;
    color: transparent;
    -webkit-text-stroke: 1.12px var(--main-color);
    animation: display-text 16s linear infinite;
    animation-delay: calc(-4s * var(--i));
}
@keyframes display-text{
    25%, 100%{
        display: none;
    }
}
.section-container h2 span::before{
    content: attr(data-text);
    position: absolute;
    width: 0;
    border: 2.2px solid var(--main-color);
    color: var(--main-color);
    white-space: nowrap;
    overflow: hidden;
    animation: fill-text 4s linear infinite;
}
@keyframes fill-text{
    10%,
    100%{
        width: 0;
    }
    70%,
    90%{
        width: 100%;

    }
}
.p-text{
    display: block;
    align-items: center;
    justify-content: center;
    margin-left: 250px;
}
.p-text .p1{
    font-size: 32px;
    font-weight: 500;
    color: var(--main-color);
}
.p-text .p2{
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
}
.container-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.container-item img{
    min-width: 100%;
    width: 100%;
    height: auto;
}
.tjenester{
    padding-top: 100px 10%;
}
.tjenester h2{
    font-size: 45px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
}
.tjenester span{
    font-size: 54px;
    color: var(--main-color);
}
.tjen-boxes{
    display: flex;
    width: 100%;
    height: 85vh;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.tjen-box p{
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}
.tjen-box h3{
    display: flex;
    text-align: center;
    font-size: 32px;
    
}
.tjen-box{
    height: 250px;
    background: var(--main-color);
    flex: 2;
    border-radius: 25px;
    display: flex;
    font-size: 128px;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.tjen-box:hover{
    background: transparent;
    border: 2px solid var(--main-color);
}
.tjen-box:hover > i{
    color: var(--main-color);
}
.tjen-box:hover p{
    display: flex;
    text-align: center;

}
.tjen-box:hover h3{
    display: none;
}
.om{
    width: 60%;
    height: 40vh;
}
.om-oss{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    margin-left: 100px;
}
.om-oss h2{
    font-size: 60px;
    color: var(--main-color);
    font-weight: 600;
}
.om-oss p{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    margin-bottom: 50px;
}

.om-img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 50px;
    margin-left: 100px;
    gap: 35px;
}
.img-child img{
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: row;
    border-radius: 50%;
    border: 2px solid var(--main-color);
}
.img-child:hover{
    opacity: .6;
    background: var(--main-color);
    
}